{% load humanize %}
        <div class="container">
          {% for cart_item in cart_items %}
              <div class="row mb-3">
                  <div class="col-3 d-flex">
                  <a class="img-link d-block" href="{% url 'product' cart_item.product.parent_id|default_if_none:cart_item.product.id %}">
                    <img class="img-thumbnail" src="{{ cart_item.product.images.first.imageURL }}"alt="No image">
                  </a>
                  </div>
                  <div class="col-9">
                    <div class="row">
                      <a class="col-12 d-block product-name" href="{% url 'product' cart_item.product.parent_id|default_if_none:cart_item.product.id %}">
                          <span class="text-break">{{ cart_item.product.title }}</span><br>
                      </a>
                    </div>
                    <div class="row align-items-center mt-1">
                      <div class="col-4 text-end">฿{{ cart_item.product.RSP|intcomma }}</div>
                      <div class="col-5 align-items-end">

                        <!-- Cart quantity selection -->
                        <div class="input-group row">
                          <button class="btn btn-outline-secondary btn-sm form-2 cart-remove col" id="remove-{{ cart_item.product.id }}"
                          data-prd-id="{{ cart_item.product.id }}">
                            <span class="material-icons-outlined small-icons">remove</span>
                          </button>
                          <button class="btn btn-sm form-2 text-center col" disabled>
                            <strong>
                              {{ cart_item.quantity }}
                            </strong>
                          </button>
                          <!-- <input type="number" class="form-control form-2 text-center" value="{{ cart_item.quantity }}" data-prd-id="{{ cart_item.product.id }}"
                            min="0" aria-label=""> -->
                            <!-- Check remaining qty -->
                          <button class="btn btn-outline-secondary btn-sm form-2 cart-add col" id="add-{{ cart_item.product.id }}"
                            {% if cart_item.product.remaining_qty <= cart_item.quantity %}disabled{% endif %}
                            data-prd-id="{{ cart_item.product.id }}">
                            <span class="material-icons-outlined small-icons">add</span>
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="row mt-1 text-end"><strong> ฿{{ cart_item.get_amount|intcomma }}</strong></div>
                  </div>
              </div>
              {% endfor %}
              <div class="cart-total text-end" {% if cart_amount == 0 %}hidden{% endif %}>
                  <div class="mt-3 mb-3">TOTAL: <strong>฿{{ cart_amount|intcomma }}</strong></div>
              </div>

          </div>

          <!-- button -->
          {% if cart_amount == 0 %}
            Your cart is empty.
            <span><a class="" href="{% url 'index' %}">Continue shopping</a></span>

          {% else %}
            <form action="{% url 'order' %}" method="POST">
              {% csrf_token %}
              <button type="submit" class="btn button align-middle" {% if cart_amount == 0 %}disabled{% endif %} id="checkout-btn">
                PLACE ORDER
              </button>
            </form>
          {% endif %}