{% extends "shoppingwonder/layout.html" %}
{% load static %}

{% block title %}
  Contact Us
{% endblock %}

{% block body %}
  <div class="page d-flex justify-content-center">
    <div class="card mb-3" style="max-width: 1000px;">
      <div class="row g-0">
        <div class="col-md-6">
          <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/makeup-supplies-amidst-shiny-glitter-royalty-free-image-1640037507.jpg" class="card-img-top" alt="...">
        </div>
        <div class="col-md-6">
          <div class="card-body bg-light text-dark" style="height: 333px;">
            <h5 class="card-title">ShoppingWonder</h5>
            <p class="card-text">
              Address:<br> xxxxxxxxxxxxxxxx xxxxxxxxxxx xxxxxxxxxxxxxxx xxxxxxxxxxx xxxxx xxxxxxxxxxx
            </p>
            <p class="card-text">Email:<br> admin@shoppingwonder.com</p>
            <p class="card-text">Tel:<br> xxxxxxxxx</p>
            <p class="card-text"><small class="text-muted">Working hours: 8 AM - 6 PM, everyday</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
