{% extends "shoppingwonder/layout.html" %}
{% load humanize %}

{% block title %}
    Favorites
{% endblock %}

{% block body %}
    <div class="page-narrow">
        <h1 class="page-title">Favorites</h1>
        <ul class="container product-list d-block">
            {% for product in products %}
                <div class="product-card">
                    <a class="img-link d-flex" href="{% url 'product' product.id %}">
                        <div class="row">
                            <div class="col-2">
                                <img class="img-thumbnail" src="{{ product.images.first.imageURL }}" alt="No image">
                            </div>
                            <div class="col-10 product-name">
                                <span>{{ product.title }}</span><br>
                                <strong>฿{{ product.RSP|intcomma }}</strong>
                                <!-- <a class="d-block product-name" href="{% url 'product' product.id %}"></a> -->
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
