{% extends "shoppingwonder/layout.html" %}
{% load humanize %}

{% block title %}
    Home
{% endblock %}

{% block body %}
    <div class="page">
        <h1 class="page-title">{{ category_name }}</h1>
        <ul class="clearfix product-list">
            {% for product in products %}
                <li class="product-item">
                    <div class="product-title">
                        <a class="img-link" href="{% url 'product' product.id %}"><img class="img-fluid" src="{{ product.images.first.imageURL }}" alt="No image"></a>
                        <div class="text-center">
                            <a href="{% url 'product' product.id %}" class="product-name text-break">{{ product.title }}</a>
                        </div>
                        <div class="product-price text-center">
                            <strong>฿{{ product.RSP|intcomma }}</strong>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>

    {% include "shoppingwonder/pagination.html" %}
    
{% endblock %}