{% extends "shoppingwonder/layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block body %}
    <div class="mb-3 justify-content-md-center">
        <div class="col-sm-4 mx-auto">
            <div class="form-title text-center">
                <h2>Register</h2>
            </div>
            <form action="{% url 'register' %}" method="post">
                {% if message %}
                <div class="alert alert-dismissible alert-dark fade show">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endif %}

                {% csrf_token %}
                <div>
                    <label>USERNAME</label>
                    <input name="username" class="form-control form-1" placeholder="" type="text" autocomplete="off" required autofocus>
                </div>
                <div>
                    <label>EMAIL</label>
                    <input name="email" class="form-control form-1" placeholder="" type="text" autocomplete="off" required>
                </div>
                <div>
                    <label>PASSWORD</label>
                    <input name="password" class="form-control form-1" placeholder="" type="password" required autocomplete="off">
                </div>
                <div>
                    <label>CONFIRM PASSWORD</label>
                    <input name="confirmation" class="form-control form-1" placeholder="" type="password" required autocomplete="off">
                </div>
                <p><button class="btn button" type="submit">Register</button></p>
            </form>
        </div>
    </div>
{% endblock %}